@import '../colors';
.menu {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 20vw;
  overflow: hidden;
}

.material-menu {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: transparent;
}

.material-btn {
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 75px;
  height: 75px;
  background: transparent;
  cursor: pointer;

  &.active {

    &:before {
      transform: scale(18);

      @media (min-height: 800px) {
        transform: scale(25);
      }
    }
  }

  &:active {

    &:before {
      opacity: 0.75;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 75px;
    height: 75px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(black, 0.5);
    background-color: $mainThemeColor;
    cursor: pointer;
    transform-origin: center 70%;
    transform: scale(1);
    transition: all 0.35s ease-out;
  }
}

.material-content {
  padding: 10% 15%;
  position: absolute;
  z-index: 3;
  top: 64px;
  right: 0;
}

nav {

  ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
  }

  li {
    will-change: transform, opacity;
    margin: 25px 0;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.4s ease-out;

    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @for $i from 1 through 4 {
    li:nth-child(#{$i}) {
      transition-delay: $i * .1s;
    }
  }

  a {
    text-decoration: none;
    font-size: 3vw;
    color: #fff;
    font-weight: 300;
  }
}

.material-hamburger {
  transition: all .3s ease-out;

  .material-patty {
    will-change: transform, opacity;
    width: 32px;
    height: 3px;
    margin: 0 0 6px 0;
    background: lighten(#fff, 20);
    opacity: 1;
    transform: translate(0) rotate(0deg);
    transition: all .2s ease-out;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.material-close {
    transform: rotate(-180deg);

    .material-patty:nth-child(1) {
      transform: translate(-10px, 4px) rotate(-45deg) scale(0.5, 1);
    }

    .material-patty:nth-child(3) {
      transform: translate(-10px, -4px) rotate(45deg) scale(0.5, 1);
    }
  }
}
